@import "../../../assets//style//scss//mixins";
.login {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-grow: 1 1;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: center;
  align-items: center;
  @include medium-screen {
    padding: 0;
  }
}
.loginForm {
  width: 50%;
  height: 100%;
  @include medium-screen {
    width: 100%;
    align-items: center;
  }
}
.titleSection {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @include medium-screen {
    display: none;
    width: 100%;
  }
}
