.uploaderContainer {
  min-width: 580px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 26px;
}
.headerIcon {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.headerTitle {
  text-align: right;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 54px */
}
.uploaderBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 236px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  border: 2px dashed;
}
.uploaderBody {
  display: flex;
  width: 100%;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
